* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    background: url('../img/dccl--html-css-simple-feature-section/Background_image.svg');
    background-color: #121826;
}

.header {
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

.header__title {
    width: 30%;

    font-size: 2.5rem;
    font-weight: 600;
    color: #E5E7EB;
}

.header__subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: #9DA3AE;
}

.main {
    width: 100%;
    height: 70%;
}

.main__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    padding: 0 150px;
}

.container__card {
    background: #212936;
    
    width: 320px;
    height: auto;

    display: flex;
    flex-direction: column;
    
    border-radius: 20px;

    padding: 30px;
}

.card__icon {
    border-radius: 100%;

    width: 60px;
    height: 60px;
    font-size: 1.7rem;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

.yellow {
    background-color: #FCEED8;
}

.blue {
    background-color: #DEE9FC;
}

.pink {
    background-color: #FBE5E6;
}

.card__title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #E5E7EB;

    padding: 20px 0;
}

.card__text {
    font-size: 1rem;
    font-weight: 400;
    color: #9DA3AE;
}

.card__img {
    width: 250px;
    margin-top: 20px;

    border-radius: 10px;
}

@media only screen and (max-width: 1024px) {

    .header {
        margin-top: 30px;
    }

    .header__title {
        width: 40%;
    }

    .header__subtitle {
        padding-top: 10px;
    }

    .main__container {
        flex-wrap: wrap;

        padding-top: 30px;
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 640px) {
    
    .header__title {
        width: 70%;
    }
}